.terraform/
*.tfstate
*.tfstate.backup

crash.log
crash.*.log

*.tfplan

terraform.tfvars
*.auto.tfvars
*.auto.tfvars.json

override.tf
override.tf.json
*_override.tf
*_override.tf.json

.vscode/

.terraformrc
terraform.rc